@import '../../styles/variables.module.scss';

.layout{
    min-height:100vh;

    max-width: 100vw;
    min-width: $page-min-width;
    overflow-x: hidden;

    .container{
        padding-left:map-get($map: $page-padding, $key: phone );
        padding-right:map-get($map: $page-padding, $key: phone );
    }
}