// Break Points
$phone:480px;
$tablet-portrait:680px;
$tablet-landscape:800px;
$laptop:1024px;
$desktop:1200px;
$big-desktop:1500px;


// Layout 
$page-padding:(
    phone:10px,
    tablet-portrait:35px,
    tablet-landscape:20px,
    laptop:30px,
    desktop:30px,
);
$page-min-width: 200px;
$page-max-width: $big-desktop;


//Header
$header-color:#ffffff;
$header-height:63px;
$header-width:100vw;
$header-max-width:$page-max-width;
$menu-gap:(
    phone:10px,//not used
    tablet-portrait:20px,//not used
    tablet-landscape:10px,
    laptop:20px,
    desktop:35px,
    big-desktop:500px//not used
);


// Page Settings
$page-padding-top:$header-height;
$page-min-height:calc(100vh - $header-height);



// color
$primary-color:#E63946;
$secondary-color:#0B1423;


:export{
    primaryColor: $primary-color;
    secondaryColor:$secondary-color;
}