// color
$primary-color:#E63946;
$secondary-color:#0B1423;

// Break Points
$phone:480px;
$tablet-portrait:680px;
$tablet-landscape:800px;
$laptop:1124px;
$desktop:1400px;
$big-desktop:2000px;


// Layout 
$page-padding:(
    phone:10px,
    tablet-portrait:50px,
    tablet-landscape:60px,
    laptop:70px,
    desktop:80px,
);
$page-min-width: 200px;
$page-max-width: $big-desktop;


//Header
$header-color:#ffffff;
$header-height:63px;
$header-width:100vw;
$header-max-width:$page-max-width;
$menu-gap:(
    phone:10px,//not used
    tablet-portrait:20px,//not used
    tablet-landscape:10px,
    laptop:20px,
    desktop:35px,
    big-desktop:500px//not used
);

//Footer
$footer-color: $secondary-color;
$footer-font-color: #ffffff;
$footer-toolbar-height:55px;
$footer-max-width:1200px;
$footer-margin-y:30px;



// Page Settings
$page-padding-top:$header-height;
$page-min-height:calc(100vh - $footer-toolbar-height);






:export{
    primaryColor: $primary-color;
    secondaryColor:$secondary-color;

    // Break Points
    phone:$phone;
    tabletPortrait:$tablet-portrait;
    tabletLandscape:$tablet-landscape;
    laptop:$laptop;
    desktop:$desktop;
    bigDesktop:$big-desktop;
}