$phone:480px;
$tablet:768px;
$laptop:1024px;
$desktop:1200px;
$big-desktop:1500px;


// Layout
$page-padding:(
    phone:10px,
    tablet:20px,
    laptop:30px,
    desktop:40px,
    big-desktop:50px

);